* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Avenir Next";
}
  
li {
    list-style: none;
}

.header {
    background-color: #26d0c9;
    color: #fff;
    height: 80px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    float: left;
    padding: 33px 20px;
}

.main {
    padding: 30px 20px;
}

.copy-container h1 {
    font-size: 50px;
}

.copy-container h2 {
    font-size: 30px;
}

.copy-container span {
    color: #ff4a4a;
}

.contents {
    height: 350px;
    margin-top: 20px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.contents-item {
    float: left;
    margin-right: 35px;
    justify-content: center;
    align-items: center;
}

.contents-item p {
    font-size: 14px;
    margin-top: 10px;
}

.contents-item img {
    height: 250px;
}

.contact-form {
    padding-top: 20px;
    margin-top: 10px;
}

/* Add CSS for <input> and <textarea> tags */
input, textarea {
    width: 300px;
    margin: 10px 0;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

/* Add CSS for contact-submit */
.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #2f5167;
    color: #fff;
    height: 70px;
    padding: 21px;
}

.footer-logo {
    float: left;
    font-size: 25px;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 10px;
}
